
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

    <div class="row mt-5">
     
        <div class="col-md-8 display-4">
            <p class="display-4 text-danger">Bir Hata Oluştu.Teknik ekibimiz bilgilendirildi.İlgili hata en kısa zamanda fixlenecek.</p>   
        </div>
    </div>