
@{
    ViewData["Title"] = "StatusCode";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4">

    </div>
    <div class="col-md-8 display-4">
        @ViewBag.Code
        @ViewBag.Message
    </div>
</div>

