@*@model UrgencyUpdateViewModel*@
@model UrgencyUpdateDto
@{
    ViewData["Title"] = "UpdateUrgency";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="UpdateUrgency" class="w-75 mx-auto p-3" method="post">
    <input type="hidden" asp-for="Id"  />
    <div class="form-group">
        <label asp-for="Description">Tanım</label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <input asp-for="Description" type="text" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-check mr-2"></i>Değişiklikleri Kaydet</button>

</form>
@section JavaScript
{
    <script src="~/lib/jqueryvalidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
}